### Gradle ###
**/.gradle/
**/build/
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/
.idea/
.eclipse/

### Minecraft Modding ###
**/run/
**/repo/
**/src/generated/**/.cache/
